
*
{
margin: 0;
padding: 0;
}

header
{
position: sticky;
}

ul
{
display: flex;
justify-content: right;
background-image: url(../images/Wood.jpg);
width: 305px;
margin: 20px;
border: 2px solid rgb(33.33%, 20.39%, 16.86% );
}

li
{
padding: 4px;
text-align: center;
list-style: none;
}

a
{
color: yellow;
text-decoration: none;
}

a:link
{
color: aqua;
}

a:hover
{
color: aqua;
}

a:visited
{
background-color: aqua;
}

a:active 
{
color: aqua;
}

a:focus 
{
color: aqua;
}

#landingpage 
{
min-width: 100%;
height: 690px;
background-image: url(../images/Sea2.jpg);
display: flex;
flex-direction: column;
}


#landingtext 
{
text-align: center;
margin-top: 345px;
color: yellow;
background-color: rgb(33.33%, 20.39%, 16.86% )
}

main
{
background-image: url(../images/Wood.jpg);
}

#Viego 
{
display: flex;
justify-content: center;
}

#Booger
{
width: 200px;
height: 300px;
}

#About
{
text-align: center;
background-color: rgb(33.33%, 20.39%, 16.86% );
color: yellow;
text-decoration: underline;
}

#TheBout
{
text-align: center;
background-color: rgb(33.33%, 20.39%, 16.86% );
color: yellow
}

#CV
{
text-align: center;
background-color: rgb(33.33%, 20.39%, 16.86% );
color: yellow;
text-decoration: underline;
}

#CVED
{
text-align: center;
text-decoration: underline;
background-color: rgb(33.33%, 20.39%, 16.86% );
color: yellow;
}

#CVEDLI
{
text-align: center;
background-color: rgb(33.33%, 20.39%, 16.86% );
color: yellow
}

#CVEM
{
text-align: center;
text-decoration: underline;
background-color: rgb(33.33%, 20.39%, 16.86% );
color: yellow;
}

#CVEMLI
{
text-align: center;
background-color: rgb(33.33%, 20.39%, 16.86% );
color: yellow
}

#CVHOB
{
text-align: center;
text-decoration: underline;
background-color: rgb(33.33%, 20.39%, 16.86% );
color: yellow;
}

#CVHOBLI
{
text-align: center;
background-color: rgb(33.33%, 20.39%, 16.86% );
color: yellow
}

#Testi
{
text-align: center;
background-color: rgb(33.33%, 20.39%, 16.86% );
color: yellow;
text-decoration: underline;
}

#TestiText
{
text-align: center;
background-color: rgb(33.33%, 20.39%, 16.86% );
color: yellow
}

#BotCon
{
text-align: center;
color: yellow
}

footer
{
background-color: rgb(33.33%, 20.39%, 16.86% );
min-width: 100%;
height: 100px;
}

/* Projects */

#HolyMecha
{
background-color: rgb(33.33%, 20.39%, 16.86% );
}

#BackBoard
{
min-width: 100%;
height: 100px;
}

#PP
{
text-align: center;
background-color: rgb(33.33%, 20.39%, 16.86% );
color: yellow
}

.Project
{
margin-left: 40px;
}

#Calc
{
width: 500px;
height: 400px;
}

#TCalc
{
text-align: left;
background-color: rgb(33.33%, 20.39%, 16.86% );
color: yellow;
margin-left: 40px;
}

#Holiday
{
width: 1000px;
height: 550px;
align-self: center;
}

#THol
{
text-align: left;
background-color: rgb(33.33%, 20.39%, 16.86% );
color: yellow
margin-left: 40px;
}

#Nav
{
width: 1000px;
height: 550px;
}

#TNav
{
text-align: left;
background-color: rgb(33.33%, 20.39%, 16.86% );
color: yellow;

}








