
*
{
margin: 0;
padding: 0;
}

ul
{
display: flex;
justify-content: space-around;
margin-top: 40px;
}

li
{
list-style: none;
}

a
{
color: rgb(50.2%,  0%, 12.5%);
text-decoration: none;
}

a:link
{
color: ;
}

a:visited
{
background-color: ;
}

a:hover 
{
color: ;
font-size: large;
}

a:active 
{
color: ;
}

a:focus 
{
color: ;
}

#landingpage 
{
min-width: 100%;
height: 690px;
background-image: url(../images/Sea2.jpg);
display: flex;
flex-direction: column;
}

#landingtext 
{
text-align: center;
margin-top: 345px;
}

main
{
background-image: url(../images/Wood.jpg);
}

